img {
    width: 500px;
    height: 500px;
}
/* #F5EDDC Primary
#CFD2CF Secondary
#A2B5BB Accent 
#EB1D36 Accent
*/

.canvas {
    width: 500px;
    height: 600px;
    background-color:#F5EDDC ;
    /* padding: 1px; */
    overflow: hidden;
}
.frame{
    width: 500px;
    padding: 50px;
    margin: 20px auto;
    border: 50px solid black;

}
.one{
    width: 425px;
    height: 150px;
    background-color: #CFD2CF;
    margin: 20px auto;

}
.two{
    width: 475px;
    height: 200px;
    background-color: #EB1D36;
    margin: 0 auto 20px;
}
.three{
    width: 91%;
    height: 28%;
    background-color:#A2B5BB ;
    margin: auto;

}